.list {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 50px;
}

.task {
  font-size: 30px;
  text-decoration: none;
}

.task:hover,
.task:focus {
  color: red;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
